<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="estilo.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="gestor-clientes">
  <template>
  <!--  <style  >
      :host {
        display: center-block;
        padding: 10px;
      }
    </style>-->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <style>
     :host {
       display: block;
     }
   </style>

    <div class="container">
      <div class="row">
        <h1 class="col-lg-12">Gestor de clientes </h1>
        <button on-click="obtenerClientes" >Obtener Clientes</button>
      </div>
        <table class ="table table-striped">
          <thead>
            <th>
              CLIENTE      </th>
          </thead>
          <tbody>
            <template is="dom-repeat" items="{{clientes}}">
              <tr>
                <td>
                  [[item.id_cliente]]
                </td>
                 <td>
                  [[item.nombre]]
                </td>
                <td>
                  [[item.listado]]
                </td>
              </tr>
          </tbody>
        </table>
    </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorClientes extends Polymer.Element {
      static get is() { return 'gestor-clientes'; }
      static get properties() {
        return {
          cientes: {
            type: Array,
            notify: true /*le indica que se va a llenar a partir de un evento*/
          }
        };
      }
      obtenerClientes(){
        var request = new XMLHttpRequest();
        /**request.open("GET","https://services.odata.org/V4/Northwind/Northwind.svc/Customers",false)*/
        request.open("GET","http://localhost:3002/movimientos",false);
        request.send();
        this.clientes = JSON.parse(request.responseText); /*accede al contenido de la variable estatica*/
        console.log(this.clientes);
      }
    }

    window.customElements.define(GestorClientes.is, GestorClientes);
  </script>

</dom-module>
