<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">

<dom-module id="login-app">

  <template>
    <style>
      :host{
        display: block;
        text-align: center;
        padding-top: 110px;
      }
      paper-card{
        width: 400px;
        text-align: left;
        padding: 1em;
      }
      paper-card .card-actions{
        padding-top: 1em;
        text-align: right;
      }
      paper-button{
        color: var(--paper-green-500);
      }
      paper-button[raised]{
        background-color: var(--primary-color);
        color: white;
      }
      paper-card .card-heard img{
        border-radius: 50%;
        height: 2em;
        width: 2em;
        color: var(--paper-red-50);
        margin-right: 16px;
      }
      paper-card .card-heard{
        font-size: 2em;
        color: var(--paper-grey-700);
      }
    </style>
    <app-location route="{{route}}"></app-location>

    <paper-card elevation="4" animatedShadow="false">
      <div class="card-heard">
        <img src="https://image.flaticon.com/icons/svg/25/25634.svg">
        <span>Login</span>
      </div>
      <form>
        <div class="card-content">
          <paper-input label="Email" required id="inputUsuario" value="jharo@bbva.com"></paper-input>
          <paper-input label="Contraseña" type="password" id="inputPass"></paper-input>
        </div>
        <div class="card-actions">
          <paper-button raised on-tap="submitForm">Iniciar Sesión</paper-button>
          <paper-button on-tap="cambiarPagina">Registrarse</paper-button>
        </div>
      </form>
    </paper-card>
  </template>

  <script>

  class LoginApp extends Polymer.Element {
    static get is() {
      return 'login-app';
    }

    static get properties() {
      return {
        route: {
          type: Object
        },
        usuario:{
          type: Object,
          notify: true,
          value: function() {
            return {}
          }
        },
        data: {
          type: Object,
          value: function() {
            return {
              page: '/'
            };
          }
        }

      }
    }

    submitForm() {
      var resposeHTTP = new XMLHttpRequest();
      var url = 'http://localhost:3002/loginUser';

      var objLogin = {
        email: this.$.inputUsuario.value,
        password: this.$.inputPass.value
      }

      resposeHTTP.open('POST', url, true);
      resposeHTTP.setRequestHeader("Content-Type", "application/json;charset=UTF-8");

      resposeHTTP.onreadystatechange = (aEvt) => {
        if (resposeHTTP.readyState == 4 && resposeHTTP.status == 200){
          if(resposeHTTP.responseText != "{}"){
            var jsonUser = JSON.parse( resposeHTTP.responseText );
            //logeado
            if (typeof(Storage) !== "undefined") {
              // Store
              sessionStorage.setItem("nombreUser", jsonUser.nombre);
              sessionStorage.setItem("apellidoUser", jsonUser.apellido);
              sessionStorage.setItem("userEmail", jsonUser.email);
              sessionStorage.setItem("id_Cliente", jsonUser.id_usuario);
              sessionStorage.setItem("autenticado", true);
              jsonUser.autent = true;
              this.set('usuario', jsonUser);
            } else {
              alert("Sorry, your browser does not support Web Storage...");
            }
            this.$.inputUsuario.value = "";
            this.$.inputPass.value = "";
            alert("LOGUEO EXITOSO");
            this.set('route.path', '/cuentas');
            location.reload();
          }else{
            alert("claves incorrectas");
          }
        }else {
          if(resposeHTTP.readyState == 4){
            //mostrar error al usuario
            alert(resposeHTTP.status);
          }
          console.log("Error al forcejear con el servidor");
        }
      }
      resposeHTTP.send(JSON.stringify(objLogin));
    }

    cambiarPagina(){
      console.log("intentando cambiar pagina");
      this.set('route.path', '/registro');
    }

  }

  window.customElements.define(LoginApp.is, LoginApp);
  </script>
</dom-module>
