<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- shared styles for all views -->
<dom-module id="estilo">
  <template>
    <style>
/**
 * se aplica el ancho, margen centrado
 * borde de un pixel con redondeado, y rellenado
 * a la izquierda y derecha
 */
 body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

.container {
  margin-left: 400px;
}

.container-table {
  margin: auto;
  width: 60%;
  padding: 20px;
}

.icon {
padding: 10px;
background: dodgerblue;
color: white;
min-width: 50px;
text-align: center;
}

.input-field {
width: 50%;
margin-right: 50px;
padding: 10px;
outline: none;
}

.input-field2 {
width: 50%;
margin-left: 600px;
padding: 10px;
outline: none;
}

.input-field3 {
width: 50%;
margin-left: 275px;
padding: 5px;
}

.input-field:focus {
border: 2px solid dodgerblue;
}

table {
    margin-top: 30px;
    width:500px;
    font:normal 15px Arial;
    text-align:center;
    border-collapse:collapse;
}
 th {
    font:bold 18px Arial;
    background-color:LightSeaGreen ;
}


/* Set a style for the submit button */
.btni {
margin-top: 2px;
background-color: dodgerblue;
color: white;
padding: 15px 20px;
border: none;
cursor: pointer;
width: 25%;
opacity: 0.9;
float:left;
border-radius:8px;
}

.btnr {
  margin-top: 2px;
background-color: green;
color: white;
padding: 15px 20px;
border: none;
cursor: pointer;
width: 25%;
opacity: 0.9;
float:left;
border-radius:8px;
}

.btnm {
  margin-top: 2px;
  margin-left: 100px;
background-color: white;
color: black;
padding: 15px 20px;
border: none;
cursor: pointer;
width: 25%;
opacity: 0.9;
border-radius:8px;
}

.btna {
  margin-top: 2px;
  margin-left: 300px;
background-color: yellow;
color: black;
padding: 15px 20px;
border: none;
cursor: pointer;
width: 25%;
opacity: 0.9;
border-radius:8px;
}

.btnreg {
  margin-top: 5px;
  margin-left:  283px;
background-color: #d8bfd8 ;
color: white;
padding: 15px 15px;
border: none;
cursor: pointer;
width: 14%;
opacity: 0.9;
border-radius:8px;
}
.btnregreso {
  margin-top: 5px;
background-color: gray;
color: white;
padding: 15px 15px;
border: none;
cursor: pointer;
width: 14%;
opacity: 0.9;
border-radius:8px;
}
.btnregresomov {
  margin-top: 5px;
background-color: gray;
color: white;
padding: 15px 15px;
border: none;
cursor: pointer;
width: 9%;
opacity: 0.9;
border-radius:8px;
}
.btnconsulta {
margin-top: 5px;
background-color: CadetBlue ;
color: white;
padding: 15px 15px;
border: none;
cursor: pointer;
width: 14%;
opacity: 0.9;
border-radius:8px;
}

.btnmodifica {
margin-top: 5px;
background-color: LightSteelBlue  ;
color: white;
padding: 15px 15px;
border: none;
cursor: pointer;
width: 14%;
opacity: 0.9;
border-radius:8px;
}

.btnp {
margin-top: 50px;
margin-left: -400px;
background-color: gray;
color: white;
padding: 10px 10px;
border: none;
cursor: pointer;
width: 50%;
opacity: 0.9;
float:left;
border-radius:8px;
}

.btn:hover {
opacity: 1;
}
   }
#Contenedor{
  margin-top: 2px;
  margin-left: 2px;
  width: 350px;
	margin: 100px;
	background-color: #F3EDED;
        border: 1px solid #ECE8E8;
	height: 300px;
	border-radius:8px;
	padding: 0px 9px 0px 9px;
   align:"center";
}

/**
 * Aplicando al icono de usuario el color de fondo,
 * rellenado de 20px y un redondeado de 120px en forma
 * de un circulo
 */
.Icon span{
      background: #A8A6A6;
      padding: 5px;
      border-radius: 10px;
}
/**
 * Se aplica al contenedor madre un margen de tamaño 10px hacia la cabecera y pie,
 * color de fuente blanco,un tamaño de fuente 50px y texto centrado.
 */
.Icon{
     margin-top: 10px;
     margin-bottom:10px;
     color: #FFF;
     font-size: 50px;
     text-align: center;
}
/**
 * Se aplica al contenedor donde muestra en el pie
 * la opción de olvidaste tu contraseña?
 */
.opcioncontra{
	text-align: center;
	margin-top: 20px;
	font-size: 14px;
}

/**
 * En las siguientes lineas
 * se define el diseño adaptable, para que
 * se muestre en los dispositivos móviles
 */

/******************************************/
/***    DISEÑO PARA MOVILES 320        ****/
/******************************************/
@media only screen and (max-width:320px){
#Contenedor{
	width: 100%;
	height: auto;
	margin: 0px;
}

/******************************************/
/***    DISEÑO PARA MOVILES 240        ****/
/******************************************/
@media only screen and (max-width:240px){

}

</style>
</template>
</dom-module>
