<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="estilo.html">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<dom-module id="sistema-login">
  <template>
      <style include="estilo">
      :host {
        display: center-block;
        padding: 10px;
      }
      </style>

<!--LOGUEO-->

  <div id="logueo" class="container">
      <div class="input-container">
       <input class="input-field" required="required" type="text" placeholder= "escriba su correo "id=mailReg value="prueba@gmail.com">
      </div>
      <div class="input-container">
       <input class="input-field"  required="required" type="password" placeholder="Password" id=passReg value="1234">
      </div>
      <button type="submit"  class="btni" on-click="hacerLogin">Ingresar</button>
      <button type="submit"  class="btnr" on-click="activaRegistroUsr">Gestionar Usuarios</button>
      <button type="submit"  class="btnp" on-click="validaProductos">Validar Productos registrados </button>
  </div>

<!--BOTONES DE GESTION DE USUARIOS-->
  <div id="showbotonesusrs" style="display:none" >
        <button type="submit" class="btnreg" on-click="muestraRegUsuario">Registrar</button>
        <button type="submit" class="btnconsulta" on-click="consultaUsuarios">Consultar registros</button>
        <button type="submit" class="btnregreso" on-click="regresar">Salir</button>
   </div>

<!--REGISTRO DE UN NUEVO USUARIO-->
  <div id="showregistrousrs" style="display:none" >
    <div class="input-container" >
        <input class="input-field3" required="required" type="text" placeholder= "Id_User:(usrXXX) "id="inputIdUsr">
        <input class="input-field3" required="required" type="text" placeholder= "Nombre: "id="inputNombre">
        <input class="input-field3" required="required" type="text" placeholder= "Apellido: "id="inputApellido">
        <input class="input-field3" required="required" type="email" placeholder= "email: "id="inputEmail">
        <input class="input-field3" required="required" type="password" placeholder= "Password: "id="inputPass">
        <button type="submit" class="btnreg" style="width: 24%" on-click="registraUsuario">Registrar</button>
        <button type="submit" class="btnregreso" style="width: 25%"  on-click="regresar">Salir</button>
      </div>
  </div>

<!--MUESTRA LOS USUARIOS REGISTRADOS-->
   <div id="showusuarios" style="display:none" >
     <table class ="table_usr">
      <tbody>
       <tr>
         <th>id_usuario</th>
         <th>Nombre</th>
         <th>Apellido</th>
         <th>Email</th>
      </tr>
      <template is="dom-repeat" items="{{clientes}}">
        <tr>
         <td>[[item.id_usuario]]</td>
         <td>[[item.nombre]]</td>
         <td>[[item.apellido]]</td>
         <td>[[item.email]]</td>
        </tr>
     </tbody>
    </table>
   </div>

<!--MUESTRA TODA LA SECCION DE CUENTAS-->

  <div id="cuentas" style="display:none" >
    <div>
      <button  type="submit" class="btnm" on-click="obtenerMovimientos">Obtener Movimientos</button>
      <button  type="submit" class="btna" on-click="registrarMovimientos">Registrar Movimientos</button>
      <button  type="submit" class="btnregresomov"  on-click="regresar">Salir</button>
    </div>

  <table>
    <tr>
      <td>
        <div id="showregistromov" style="display:none" class="input-field2">
            <table >
              <tbody>
                <tr>
                <td>
                <input  type="text" required="required" placeholder= "Id_movimiento (movNNNN): "id="inputIdMov">
                </td></tr>
                <tr>
                <td>
                  <input type="text" required="required" placeholder= "Tipo de movimiento (Deposito/Retiro): "id="inputTipoMov">
                </td></tr>
                <tr>
                <td>
                <input type="text" required="required" placeholder= "Cantidad:($NNN,NNN.NNN) "id="inputCantidadMov">
              </td></tr>
              <tr>
              <td>
                <button  type="submit"  on-click="enviarMov">Guardar</button>
            </td></tr>
              </tbody>
            </table>
        </div>

      </td>
      <td>
        <div id="showmovimientos" style="display:none" >
            <table  class ="table table-striped">
              <tbody>
                <tr>
                <th>
                  id_movimiento
                </th>
                <th>
                  tipo
                </th>
                <th>
                cantidad
                </th></tr>
                <template is="dom-repeat" items="{{clientes}}">
                  <tr>
                    <td>
                      [[item.id_movimiento]]
                    </td>
                     <td>
                      [[item.tipo]]
                    </td>
                    <td>
                      [[item.cantidad]]
                    </td>
                  </tr>
              </tbody>
            </table>

          </div>  </td>
    </tr>
  </table>
    </div>

<!--MUESTRA TODA LA SECCION DE PRODUCTOS-->

  <div id="showproductos" style="display:none" >
    <div>
      <button  class="btnconsulta" on-click="obtenerClientes" >Obtener Productos</button>
        <button  type="submit" class="btnregreso"  on-click="regresar">Salir</button>
    </div>
    <table>
      <tr>
        <td>
          <div id="showregistroprod" style="display:none" >
            <table  class ="table table-striped">
              <tbody>
                <tr>
                  <th>ID_Producto</th>
                  <th>Producto</th>
                  <th>Precio por Unidad</th>
                  <th>Unidades en Stock</th>
                </tr>
                <template is="dom-repeat" items="{{clientes}}">
                  <tr>
                      <td>
                        [[item.ProductID]]
                      </td>
                       <td>
                        [[item.ProductName]]
                      </td>
                      <td>
                        [[item.UnitPrice]]
                      </td>
                      <td>
                        [[item.UnitsInStock]]
                      </td>
                    </tr>
              </tbody>
          </table>
        </div>
      </td>
    </tr>
  </table>
</div>

</template>



    <script>

    //alert(sessionStorage.getItem("idUsuario"));
      class SistemaLogin extends Polymer.Element {
        static get is() { return 'sistema-login'; }
            static get properties() {
              return {
                route: {
                  type: Object
                },
                usuario:{
                  type: Object,
                  notify: true,
                  value: function() {
                    return {}
                  }
                },
                data: {
                  type: Object,
                  value: function() {
                    return {
                      page: '/'
                    };
                  }
                }

              }
            }
            obtenerClientes(){
              var request = new XMLHttpRequest();
              request.open("GET","https://services.odata.org/V4/Northwind/Northwind.svc/Products",false);
              request.setRequestHeader("Accept", "application/json");
              request.send();
              this.clientes = JSON.parse(request.responseText).value; /*accede al contenido de la variable estatica*/
              console.log(this.clientes);
            }
        hacerLogin(){
          var resposeHTTP = new XMLHttpRequest();
          var url = 'http://localhost:3002/loginUser'; //este deloginusr estarà en el back, corregir por el mio

          var logueo = {
            email: this.$.mailReg.value,
            password: this.$.passReg.value
          }

          resposeHTTP.open('POST', url, true);
          resposeHTTP.setRequestHeader("Content-Type", "application/json;charset=UTF-8");

          resposeHTTP.onreadystatechange = (aEvt) => {
            if (resposeHTTP.readyState == 4 && resposeHTTP.status == 200){
              console.log("77");
              if(resposeHTTP.responseText != "{}"){
                var jsonUser = JSON.parse( resposeHTTP.responseText );

                console.log(JSON.parse( resposeHTTP.responseText ));
                console.log("logueo ok");
                if (typeof(Storage) !== "undefined") {
                  sessionStorage.setItem("nombreUser", jsonUser.nombre);
                  sessionStorage.setItem("apellidoUser", jsonUser.apellido);
                  sessionStorage.setItem("userEmail", jsonUser.email);
                  sessionStorage.setItem("idUsuario", jsonUser.id_usuario);
                  sessionStorage.setItem("autenticado", true);
                  jsonUser.autent = true;
                  this.set('usuario', jsonUser);
                } else {
                  alert("No se puede almacenar");
                }
                this.$.mailReg.value = "";
                this.$.passReg.value = "";
                alert("Bienvenido(a) "+jsonUser.nombre);

                this.$.logueo.style.display = 'none';
                this.$.cuentas.style.display = 'block';

              //  location.reload();

              }else{
                alert("logueo rechazado, valide las credenciales o registrese");
                location.reload();
              }
            }else {
              if(resposeHTTP.readyState == 4){
                //mostrar error al usuario
                alert(resposeHTTP.status);
              }
              console.log("Sin conexion con el servidor");
            }
          }
          resposeHTTP.send(JSON.stringify(logueo));
        }

        obtenerMovimientos(){
          var request = new XMLHttpRequest();
          /**request.open("GET","https://services.odata.org/V4/Northwind/Northwind.svc/Customers",false)*/
          request.open("GET","http://localhost:3002/movimientos",false);
          request.send();
          this.clientes = JSON.parse(request.responseText);
          console.log(this.clientes);
          this.$.showmovimientos.style.display = 'block';
          this.$.showregistromov.style.display = 'none';
        }

        registrarMovimientos (valueIdCliente) {
          this.$.showmovimientos.style.display ='none';
          this.$.showregistromov.style.display = 'block';
        }

        enviarMov (valueIdCliente) {
          alert('Se registrara el movimiento: '+this.$.inputIdMov.value);
          this.$.showregistromov.style.display = 'none';
          this.$.showmovimientos.style.display ='none';


          var resposeHTTP = new XMLHttpRequest();
          var url = 'http://localhost:3002/registraMov';
          var objMov = {
          id_movimiento: this.$.inputIdMov.value,
          tipo: this.$.inputTipoMov.value,
          cantidad: this.$.inputCantidadMov.value
          }

          resposeHTTP.open('POST', url, true);
          resposeHTTP.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
          resposeHTTP.onreadystatechange = function(aEvt){
          if (resposeHTTP.readyState == 4 && resposeHTTP.status == 200){
          alert(resposeHTTP.responseText);
          console.log(resposeHTTP.responseText);
          }else {
          console.log("Error");
          }
          }
          resposeHTTP.send(JSON.stringify(objMov));
          this.$.inputIdMov.value = "";
          this.$.inputTipoMov.value = "";
          this.$.inputCantidadMov.value = "";

        }

        muestraRegUsuario (valueIdCliente) {
                this.$.showregistrousrs.style.display = 'block';
                this.$.logueo.style.display = 'none';
                this.$.showbotonesusrs.style.display = 'none';
                this.$.showusuarios.style.display = 'none';

        }

        activaRegistroUsr (valueIdCliente) {
          this.$.showbotonesusrs.style.display = 'block';
          this.$.logueo.style.display = 'none';
        }


          regresar (valueIdCliente) {
            this.$.showbotonesusrs.style.display = 'none';
            this.$.showusuarios.style.display = 'none';
            this.$.logueo.style.display = 'block';
            this.$.showregistrousrs.style.display = 'none';
            this.$.showregistromov.style.display = 'none';
            this.$.showmovimientos.style.display ='none';
            this.$.cuentas.style.display ='none';
            this.$.showregistroprod.style.display ='none';
            this.$.showproductos.style.display ='none';

          }

        registraUsuario(valueIdCliente) {
          alert('Se registrara el usuario: '+this.$.inputIdUsr.value);
          var resposeHTTP = new XMLHttpRequest();
          var url = 'http://localhost:3002/registraUsuario';
          var objMov = {
              id_usuario: this.$.inputIdUsr.value,
              nombre: this.$.inputNombre.value,
              apellido:this.$.inputApellido.value,
              email:this.$.inputEmail.value,
              password:this.$.inputPass.value
              }

          resposeHTTP.open('POST', url, true);
          resposeHTTP.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
          resposeHTTP.onreadystatechange = function(aEvt)
          {
            if (resposeHTTP.readyState == 4 && resposeHTTP.status == 200)
            {
              alert(resposeHTTP.responseText);
              console.log(resposeHTTP.responseText);
            }
            else {
              console.log("Error");
            }
          }
          resposeHTTP.send(JSON.stringify(objMov));
          this.$.inputIdUsr.value= "";
          this.$.inputNombre.value= "";
          this.$.inputApellido.value= "";
          this.$.inputEmail.value= "";
          this.$.inputPass.value= "";
          this.$.showbotonesusrs.style.display = 'block';
          this.$.showregistrousrs.style.display = 'none';

        }

consultaUsuarios(){
  var request = new XMLHttpRequest();
  /**request.open("GET","https://services.odata.org/V4/Northwind/Northwind.svc/Customers",false)*/
  request.open("GET","http://localhost:3002/usuarios",false);
  request.send();
  this.clientes = JSON.parse(request.responseText);
  console.log(this.clientes);
  this.$.showbotonesusrs.style.display = 'block';
  this.$.showregistrousrs.style.display = 'none';
  this.$.showusuarios.style.display = 'block';
}

validaProductos(){
  var request = new XMLHttpRequest();
  request.open("GET","http://localhost:3002/api",false);
  request.send();
  this.clientes = JSON.parse(request.responseText);
  console.log(this.clientes);
  this.$.logueo.style.display = 'none';//oculta botones de logueo
  this.$.showproductos.style.display = 'block';//muestra seccion de productos
  this.$.showregistroprod.style.display = 'block';//muestra tabla de productos

}


      }

    window.customElements.define(SistemaLogin.is, SistemaLogin);
      </script>


</dom-module>
